@import '~bootstrap/scss/bootstrap.scss';

.App {
  background: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.game {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  width: 100%;
  &__card {
    min-height: 400px;
  }
  &__guesses {
    max-height: 100px;
    overflow-y: scroll;
  }
}
